 body,
 html {
     height: 100%;
     width: 100%;
     margin: 0;
 }
 
 .first {
     width: 100%;
     height: 100%;
 }
 
 .second {
     position: fixed;
     margin: auto;
     right: 20px;
     bottom: 20px;
 }
 
 .card {
     position: relative;
 }
 
 #card-img {
     position: relative;
 }
 
 .menu-btn {
     position: absolute;
     right: 1px;
     top: 1px;
     z-index: 80;
     width: 80px;
     height: 44px;
     color: white;
 }
 
 .menu-btn::before {
     content: "";
     position: absolute;
     margin: 0px 23px;
     background-image: url(../images/2019-04-25.png);
     z-index: 80;
     height: 50px;
     width: 58px;
     background-repeat: no-repeat;
     background-position: left top;
     background-size: contain;
 }
 
 .menu-btn-icon:hover {
     cursor: pointer;
 }
 
 .menu-btn-icon {
     position: absolute;
     right: 1px;
     top: 1px;
     color: white;
     z-index: 100;
 }
 
 .text-justify {
     text-align: justify;
 }
 
 .Update {
     position: absolute;
     right: 2px;
     top: 20px;
     z-index: 80;
     display: none;
 }
 
 .collection-item {
     font-size: 12px !important;
 }
 
 .collection-item:hover {
     transition-duration: .5s;
     background-color: rgba(0, 0, 0, 0.07);
 }